node_modules/*
tmp/
coverage
*.com
*.class
*.dll
*.exe
*.o
*.so
*.html~
*.js~
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.log
*.sql
*.sqlite
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*~
.idea
.idea/*
.vagrant/*
